<ul class="uk-list uk-text-center">
  <h3 class="uk-heading-line uk-text-center"><span>Times</span></h3>
  <% orderData.map((order) => { %> <% let orderData = order; let time =
  order.time.toLocaleTimeString().substring(0, 2); let hour =
  order.time.toLocaleTimeString().slice(-3);%> <% let timeHour =
  orderData.technician_id + time + hour; %>
  <li>
    <button class="uk-button uk-button-primary uk-button-large">
      <%= orderData.time.toLocaleTimeString() %><br />
    </button>
  </li>
  <% }) %>
</ul>
